In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [5]:
#odrinal encoding is used when we can give order to the data eg:- PG-UG-HS
# label encoding for yes or no output , NOTE use le only on output/target/last column
# we will use ordinal encoding on review and education , use labled encoding on purchased

In [6]:
df = df.iloc[:,2:]

In [8]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test ,y_train , y_test = train_test_split(df.iloc[:,0:2], df.iloc[:,-1], test_size= 0.2)

In [15]:
x_train

     review education
9      Good        UG
35     Poor    School
19     Poor        PG
10     Good        UG
34  Average    School
29  Average        UG
17     Poor        UG
44  Average        UG
32  Average        UG
21  Average        PG
16     Poor        UG
33     Good        PG
7      Poor    School
45     Poor        PG
2      Good        PG
24  Average        PG
42     Good        PG
0   Average    School
48     Good        UG
46     Poor        PG
38     Good    School
11     Good        UG
3      Good        PG
49     Good        UG
1      Poor        UG
15     Poor        UG
41     Good        PG
39     Poor        PG
30  Average        UG
43     Poor        PG
47     Good        PG
28     Poor    School
36     Good        UG
8   Average        UG
14     Poor        PG
22     Poor        PG
13  Average    School
5   Average    School
25     Good    School
20  Average    School

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [20]:
oe = OrdinalEncoder(categories = [['Poor','Average','Good'],['School','UG','PG']])

In [21]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [22]:
x_train = oe.transform(x_train)
x_test = oe.transform(x_test)

In [23]:
x_train

array([[2., 1.],
       [0., 0.],
       [0., 2.],
       [2., 1.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [1., 2.],
       [0., 1.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [1., 2.],
       [2., 2.],
       [1., 0.],
       [2., 1.],
       [0., 2.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [0., 0.],
       [2., 1.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [1., 0.],
       [2., 0.],
       [1., 0.]])

In [25]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
le = LabelEncoder()

In [28]:
le.fit(y_train)

LabelEncoder()

In [29]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [30]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [31]:
y_train

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1])